@font-face {
    font-family: 思源宋體SemiBold;
    src: url('../Librian本體/前端/素材/NotoSerifSC-SemiBold.otf');
}

body {
    font-family: 思源宋體SemiBold !important;
    overflow: hidden;
    font-size: 2.5vw;
    line-height: 1.5;
}

header {
    height: 12vh;
}

.內容 {
    margin: 4vh;
    height: 80vh;
    /* background: rgba(0, 0, 0, 0.3); */
}

#工程記錄 {
    display: flex;
}

#工程記錄 a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 180%;
}

.工程信息 {
    display: flex;
    align-items: center;
}

.工程信息>div {
    flex-direction: column;
}

.圖標 {
    width: 10vw;
    height: 10vw;
    margin: 2vw;
}

.右下角 {
    position: fixed;
    right: 1vw;
    bottom: 1vw;
}
