<html>
    <head>
        <meta charset='utf-8'/>
        <link rel='stylesheet' href='../黑科技/synthetic_css/synthetic_offline.css'/>
        <script src='../黑科技/jquery-3.1.1.min.js'></script>
        <script src='../黑科技/jquery-ui.min.js'></script>
        <script src='../黑科技/vue.js'></script>
        <link rel='stylesheet' href='./style.css'/>
        <script src='./幹.js'></script>
    </head>
    <body class="synth">
      <div id="all">
        <div class="頁" id="入口">
            <header class="synth">
                <h2>
                    Librian面板
                </h2>
            </header>
            <div class="內容">
                <div>
                    <a class="synth" id="開啓工程">
                        開啓工程
                    </a>
                    <a class="synth" id="建立工程">
                        建立工程
                    </a>
                </div>
                <div>
                    <p>
                        歷史記錄
                        <a class="synth" id="清除記錄" v-if="存檔資料.length>0">
                            清除記錄
                        </a>
                    </p>
                    <span v-if="存檔資料.length==0">
                        沒有之前的工程記錄。
                    </span>
                    <div id="工程記錄">
                        <span v-for="工程 in 存檔資料">
                            <a class="synth" v-bind:href='"javascript:山彥.開啓工程("+JSON.stringify(工程.工程路徑)+")"'>
                                <img class="圖標" v-bind:src='工程.圖標路徑'/>
                                <small>
                                    {{工程.標題}}
                                </small>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="頁" id="工程編輯">
            <header class="synth">
                <h2>
                    {{標題}}
                </h2>
            </header>
            <div class="內容">
                <div class="工程信息">
                    <img class="圖標" v-bind:src='圖標路徑'/>
                    <div>
                        <p>
                            路徑: {{工程路徑}}
                        </p>
                        <p>
                            主解析度: {{主解析度}}
                        </p>
                    </div>
                </div>
                <a class="synth" id="運行">
                    運行
                </a>
                <a class="synth" id="運行同時編寫">
                    運行同時編寫
                </a>
                <a class="synth" id="打開文件夾">
                    打開文件夾
                </a>
                <a class="synth" id="生成exe">
                    生成exe
                </a>
                <a class="synth" id="生成html">
                    生成html
                </a>
            </div>
            <div class="右下角">
                <a class="synth" id="返回">
                    返回
                </a>
            </div>
        </div>
      </div>
    </body>
</html>
