liber>=1.0.1
rimo_utils>=1.4.1
pywebview>=6.0 ; sys_platform != "linux"
pywebview[qt]>=6.0 ; sys_platform == "linux"
cloudpickle>=1.2.2
opencc>=1.1.1
PyYAML>=5.2
fire>=0.2.1
dulwich>=0.19.14
requests>=2.24.0
libsass>=0.20.0
