@font-face {
    font-family: 思源宋體SemiBold;
    src: url('../dist/NotoSerifSC-SemiBold.otf');
}

@keyframes a {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:root {
    --x: 0px;
    --y: 0px;
}

body {
    font-family: 思源宋體SemiBold !important;
    font-size: 1.6vw;
    text-shadow: 0px 0px 5px #FFF;
    overflow: hidden;
    animation-name: a;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
    background-color: #dec6a1;
    background-image: url('../dist/紙背景花紋.jpg');
    background-size: cover;
    background-attachment: fixed;
}

a {
    padding: 1vw 1.5vw;
    display: inline-block;
    outline: none;
    border: none;
    -webkit-user-select: none;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background-image: url('../dist/紙背景花紋模糊.jpg');
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 0px 0.8vw rgba(0, 0, 0, 0.6), 0px 0px 0.4vw rgba(0, 0, 0, 0) inset;
    filter: brightness(1.05) hue-rotate(-6deg);
    transition: box-shadow 0.2s, filter 0.1s;
    font-size: inherit;
    margin: 0.5vw;
    border-radius: 0.5vw;
}

a:hover {
    box-shadow: 0px 0px 0.4vw rgba(0, 0, 0, 0.7), 0px 0px 0.4vw rgba(0, 0, 0, 0) inset;
    filter: brightness(1.1) hue-rotate(-12deg);
}

a:active {
    box-shadow: 0px 0px 0.4vw rgba(0, 0, 0, 0), 0px 0px 0.4vw rgba(0, 0, 0, 0.6) inset;
    filter: blur(0.1vw);
}

#bb {
    filter: drop-shadow(var(--x) var(--y) 0.8vw rgba(0, 0, 0, 0.6));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
}

#bg2 {
    -webkit-mask-image: url('虛僞的假面.png');
    -webkit-mask-size: cover;
    filter: hue-rotate(var(--s));
    background: url('../dist/紙背景花紋模糊.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.主 {
    font-size: 250%;
    line-height: 150%;
    margin-left: 50%;
    margin-top: 10%;
}

.主>div {
    margin: 8%;
}