@font-face{
    /* font-family: 源流明體SemiBold;
    src: url('./static/GenRyuMinTW-SemiBold.ttf'); */
    font-family: 思源宋體SemiBold;
    src: url('./static/NotoSerifSC-SemiBold.otf');
}
body{
    font-family: 思源宋體SemiBold;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    background: url(static/塊.png);
    -webkit-user-select: none;
    color: #fff;
    overflow: hidden;
}

#總畫面 {
    position: relative;
}

div {
    margin: 0px;
    padding: 0px;
}

video {
    position: absolute;
    z-index: 999;
    display: None;
}

#配置面板 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 998;
    background: rgba(0, 0, 0, 0.5);
    display: None;
    padding: 30px;
}

.option {
    font-size: 24px;
    height: 80px;
}

.小塊 {
    background: #000;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #fff;
    padding: 5px;
    margin: 10px;
}

#bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    background-size: cover;
}

#cg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-size: cover;
}

.舊淡出{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}

#adv畫面 {
    width: 1366px;
    height: 768px;
    position: relative;
    margin: 0;
    overflow: hidden;
}

#覆蓋 {
    width: 1366px;
    height: 768px;
    position: absolute;
    background-size: cover;
    z-index: 99;
    display: none;
}

#對話框 {
    width: 1000px;
    height: 240px;
    color: #fff;
    font-size: 24px;
    margin: 0 auto;
    text-shadow: -1px -1px 2px #000, 1px 1px 2px #000;
    position: absolute;
    top: 528px;
    left: 185px;
}

#名字框 {
    opacity: 0;
    transition: opacity 0.3s, width 0.3s;
    position: absolute;
    top: 0px;
    left: 80px;
}

#話語框 {
    position: absolute;
    top: 25%;
    z-index: 10;
    width: 100%;
    height: 75%;
}

#名字框背景 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#話語框背景 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#話語{
    white-space: pre-line;
}
.旁白:before{
    content: '　　';
}
.對話:before{
    content: '「';
    display: block;
    height: 100%;
    float: left;
}
.對話>span:nth-last-child(1):after{
    content: '」';
}

#選項 {
    position: absolute;
    height: 220px;
    width: 480px;
    left: 400px;
    top: 200px;
    padding: 20px;
    color: #fff;
    font-size: 27px;
    border-radius: 10px;
    z-index: 20;
    display: None;
}

button {
    background: rgba(55, 55, 55, 0.6);
    color: #fff;
    border: 1px solid #fff;
    display: block;
    font-size: 26px;
    font-family: '微软雅黑';
    width: 90%;
    margin: 20px;
}

#工具欄 {
    right: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 5px;
    position: absolute;
    z-index: 10;
}

#對話歷史 {
    font-size: 27px;
    width: 900px;
    padding: 20px 20px 120px 20px;
    color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    z-index: 10;
}

.scroll {
    display: none;
    background: rgba(0, 0, 0, 0.65);
    width: 940px;
    height: 768px;
    position: absolute;
    left: 233px;
}

#立繪 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
}

#立繪 > div {
    position: absolute;
    transform-origin: 0% 0%;
}

#墊底 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 768px;
    background: #000;
    z-index: -999;
}

#cache {
    height: 0px;
    overflow: hidden;
}

#test {
    background: #777;
    height: 150px;
    width: 150px;
    overflow: auto;
}

#提示 {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    width: 200px;
    display: none;
}

.自動收起 {
    opacity: 0.2;
    transition: opacity 4s;
}

.自動收起:hover {
    opacity: 1;
    transition: opacity 0.5s;
}