.美麗滑條
{
    overflow-y: scroll;
    overflow-x: hidden;
}
.美麗滑條::-webkit-scrollbar-track
{
    background-color: #FFF;
    border:1px solid #aaa;
    border-radius: 10px;
}
.美麗滑條::-webkit-scrollbar
{
    width: 10px;
    background-color: #555;
    border-radius: 10px;
}
.美麗滑條::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #F90; 
    background-image: -webkit-linear-gradient(90deg,
                                              rgba(255, 255, 255, .2) 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              rgba(255, 255, 255, .2) 50%,
                                              rgba(255, 255, 255, .2) 75%,
                                              transparent 75%,
                                              transparent)
}