input[type="range"] {
    -webkit-appearance: none;
    cursor: pointer;
    background-color: #ebeff4;
    border-radius: 4px;
    height: 4px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #ebeff4;
    border: solid 3px #5891f5;
    border-radius: 100%;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -webkit-transition: 0.2s;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #ebeff4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6) inset;
}

input[type="checkbox"]:checked {
    border: solid 3px #5891f5;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 1) inset;
}
