#dialog_bg,#name_bg{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:-1;
	opacity:0.75;
}
#dialog_bg{
    background: url(話背景.png);
	background-size: cover;
}
#name_bg{
    background: url(名背景.png);
	background-size: cover;
}

#tot{
	cursor:url("星際2.cur"),auto;
}