scopeName: 'source.liber'
name: 'liber'
fileTypes: ['liber','play']
patterns: [
  {
    begin: '^(```(py|python)?)$'
    end: '^(```)$'
    beginCaptures:
      1:
        name: 'operator'
      2:
        name: 'storage.inline'
    endCaptures:
      1:
        name: 'operator'
    patterns: [
      {
        include: 'source.python'
      }
    ]
  }
  {
    begin: '^(```(js|javascript)?)$'
    end: '^(```)$'
    beginCaptures:
      1:
        name: 'operator'
      2:
        name: 'storage.inline'
    endCaptures:
      1:
        name: 'operator'
    patterns: [
      {
        include: 'source.js'
      }
    ]
  }
  {
    begin: '(?=<)'
    end: '(?<=>)'
    patterns: [
      {
        include: 'text.html.basic'
      }
    ]
  }
  {
    match: '^#.*?$'
    name: 'comment'
  }
  {
    match: '^([@\\+\\-\\>\\*]|={3,})(.*?)$'
    captures:
        1:
            name: 'operator'
        2:
            name: 'support.function'
  }
  {
    match: '^(((?:([^|]*?)\\|)?(.*?)) (\\(.*?\\))?)$'
    captures:
        1:
            name: '人物名和表情'
        2:
            name: '人物名'
            patterns: [
                {
                    match: '^(.*?)(?:\\|.*)?$'
                    name: '$1'
                }
            ]
        3:
            name: 'comment'
        4:
            name: 'comment'
        5:
            name: 'storage.inline'
  }
  {
    begin: '^(((?:([^|]*?)\\|)?(.*?)) (\\(.*?\\))?)(?=「)'
    beginCaptures:
      1:
          name: '人物名和表情'
      2:
          name: '人物名'
          patterns: [
              {
                  match: '^(.*?)(?:\\|.*)?$'
                  name: '$1'
              }
          ]
      3:
          name: 'keyword'
      4:
          name: 'entity.name.type'
      5:
          name: 'storage.inline'

    contentName: '對話.string'
    patterns: [
            {
                match: '「'
                name: 'punctuation'
            }
            {
                begin: '(?=<)'
                end: '(?<=>)'
                patterns: [
                  {
                    include: 'text.html.basic'
                  }
                ]
            }
    ]

    end: '」'
    endCaptures:
      0:
        name: 'punctuation'
  }
  
  {
    match: '「.*?」'
    name: 'storage.liber'
  }
]

